<h2>Generate new pairs</h2>

<%= form_for :test do |f| %>

  <div class="form-group">
    <label>Date of today!</label>
    <%= f.date_select :day, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Save", class: "btn btn-primary" %>
  </div>

<% end %>
