<h2>Welcome <%= current_student.username %></h2>
<hr>
<div class="row">
  <div class="col-md-8" >
    <h3>Your match for today</h3>
    <% @pairs.all.each do |pair| %>
      <% if pair.day == Time.zone.today %>
          <% i=0 %>
          <% while i < pair.matches.length %>
            <% if pair.matches[i].include?(current_student.username) %>
            <%= pair.matches[i].to_s.gsub(/[@\[\]"]/, "") %>
            <% end %>
            <% i+=1 %>
          <% end %>

      <% end %>
    <% end %>
  </div>
  <div class="col-md-4" >
    <h3>Your match for previous days</h3>
    <% @pairs.all.each do |pair| %>
      <% if pair.day < Time.zone.today %>

          <% i=0 %>
          <% while i < pair.matches.length %>
            <% if pair.matches[i].include?(current_student.username) %>
            <%= pair.day.strftime("%m/%d/%Y") %>
            <%= pair.matches[i].to_s.gsub(/[@\[\]"]/, "") %>
            <hr>
            <% end %>
            <% i+=1 %>
          <% end %>

      <% end %>
    <% end %>
  </div>
</div>
<hr>
