<div class="container">
  <div class="today-match-heading">
    <h2>Welcome <%= current_student.username %></h2>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-8 today-match">
      <h3>Your match for today</h3>
      <% @pairs.all.each do |pair| %>
        <% if pair.day == Time.zone.today %>
            <% i=0 %>
            <% while i < pair.matches.length %>
              <% if pair.matches[i].include?(current_student.username) %>
                <p><%= pair.matches[i].to_s.gsub(/[@\[\]"]/, "") %></p>
              <% end %>
              <% i+=1 %>
            <% end %>

        <% end %>
      <% end %>
    </div>
    <div class="col-md-4" >
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title">Your match for previous days</h3>
        </div>
        <div class="panel-body">
          <% @pairs.all.each do |pair| %>
            <% if pair.day < Time.zone.today %>

                <% i=0 %>
                <% while i < pair.matches.length %>
                  <% if pair.matches[i].include?(current_student.username) %>
                  <%= pair.day.strftime("%m/%d/%Y") %>
                  <%= pair.matches[i].to_s.gsub(/[@\[\]"]/, "") %>
                  <hr>
                  <% end %>
                  <% i+=1 %>
                <% end %>

            <% end %>
          <% end %>
        </div> 
      </div>

    </div>
  </div>
  <hr>

</div>
