// application.scss

@import "bootstrap-sprockets";
@import "bootstrap";

/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

 .btn-primary {
   background:#73b78a;
   border:none;
 }

 .btn-primary:hover {
   background:#73b79a;
   transition: all 0.4s ease-in-out;
 }

.pairs-index p:first-child {
  border-bottom: solid 1px;
}

.welcom-admin {
  text-align: center;
}
.welcom-admin span {
  color: red;
    font-size: 7px;
    position: absolute;
    transform: rotate(90deg);
    margin-top: 13px;
    margin-left: -6px;
}

.log-in {
  background: linear-gradient(50deg,slateblue 0,darkturquoise 100%);
  height: 100vh;
  margin-top: -20px;
}

.messages {
  margin-bottom: 20px;
}

.today-match p {
  text-align: center;
  font-family: -webkit-body;
  text-transform: uppercase;
  font-size: 42px;
  border-radius: 4px;
  padding: 82px;
}

.today-match-heading h2 {
  text-align: center;
}

.index-img {
background-image: url(https://i.imgur.com/RBlQjfd.jpg);
min-height: 286px;
background-size: cover;
background-position: top;
}

.generate-pairs {
  width: 500px;
  margin:0 auto;
}

#new_pair {
  text-align: center;
}
